#cloud-config
ssh_pwauth: no

users:
  - name: ivan
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQCzPKlEYvi6F3E243Wj9QD+yuky02obyVxk7Lxt/UfhmZ88mvvcJilIqDXx5hrYpEoMaeHqAXd8DKQ5qTjKlOR9RyOAY9ojBMJO/4AYap7edw45thJ0+47+ITgyp5lKzHm8PIzaio3r7humZvWBS8wMKO9FAQs9cIxpkijvx7rvFD5Y6t1wd1M3O3BNGjmhim83ejQ2TIWLCRGvOCFgSQN0rJIsUKmDtNTd7eZIKL4wUr55ytLHIRzOphZgcQb9PPsOMymOon06KoInvxxEyC41x+PNlxL2pwNHJ1qi98wCcCNTevUnDOcsuWA60+8BQxt3A7hG7WxYDlkyGzPKOD8o6ejJ5I1lTGHkuFq7PDczKyh9HSRCiVmqAcXEoMzAjn6k9kRpkQow3ZwKub/Dz2cUyDEPj7AQp0yi2l4fDF4XrmscyvKdt3MmIffia+kcOCgt/FSEqrbPWV2dKHqN8GcrT+DVMPX0CCndcleoEjoOWh8hpCZVbo2Z3GST5zkSJBk= risenfrost@Air-Ivan.lan

  - name: stas
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
    ssh_authorized_keys:
      - ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIP7qH23GH06cTRmuABd0pM1GtPZNT75iP0JjTcvXNDih stas_@TatarJesus


package_update: true
package_upgrade: true

apt:
  sources:
    docker:
      source: "deb [arch=amd64 signed-by=/etc/apt/trusted.gpg.d/docker.gpg] https://download.docker.com/linux/ubuntu $RELEASE stable"
      keyid: 7EA0A9C3F273FCD8
      keyserver: keyserver.ubuntu.com

packages:
  - docker-ce
  - docker-ce-cli
  - containerd.io

runcmd:
  - curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo tee /etc/apt/trusted.gpg.d/docker.gpg
  - apt-get update
  - apt-get install -y docker-ce docker-ce-cli containerd.io
  - systemctl enable docker
  - systemctl start docker

final_message: "Docker установлен и запущен успешно!"
