#cloud-config
ssh_pwauth: no

users:
  - name: admin
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQCottusIvFgzK/7Vlc+Vg7cU0S5Op3QB3pWGsrdwbQt1g0DlTlBEPiM0+U5Y1bYMBkZcAcHv9PDu884T5+rx2VKe+SmELZzWWMHt/q8reT03T7HJGHDo3Mp1gBqz62qDRI+EIQDIV6c4v4HvcsNCxVdURXD56QkxulwRuUiM27SXyMmFamqfOdHITnzlsjxft/9QIhNxhN0XCprFM+EUOtyEG6V7e4FqV1BoYDch1n7/w1MEg0N+wIcX3q5WfxwqPvxw7TsgQFcO4KmiepRoYDq2Q3WplDr2VK0Rf4B3rrA59LoZE5jPc6cLYbBTUXP/wqRe9hyxbMg3uO4gfCFIgMXG12VbzW1ClrC1F1MQUjjEnAAjV/swOGhMn/KmorwGn/7ExGqDN+8lx6AYzwW0QT+37Hb1IdV98wAs2BodXOyVPnD4peUXtZNUbmgeohpG1lqiVJPCj0mNCj8nEkGBc9VT6O6tMB3UJ/D+LJW/KcmTBdkeWO7qBRCRnHGH+5z0Ls= admin@2584787-dl70044

package_update: true
package_upgrade: true

apt:
  sources:
    docker:
      source: "deb [arch=amd64 signed-by=/etc/apt/trusted.gpg.d/docker.gpg] https://download.docker.com/linux/ubuntu $RELEASE stable"
      keyid: 7EA0A9C3F273FCD8
      keyserver: keyserver.ubuntu.com

packages:
  - docker-ce
  - docker-ce-cli
  - containerd.io

runcmd:
  - curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo tee /etc/apt/trusted.gpg.d/docker.gpg
  - apt-get update
  - apt-get install -y docker-ce docker-ce-cli containerd.io
  - systemctl enable docker
  - systemctl start docker

final_message: "Docker установлен и запущен успешно!"
